.description {
    width: 300px;
    padding: 20px;
    resize: none;
}
.btn_enter {
    width: 150px;
    height: 20px;
    border: none;
    padding: 15px;
    background-color: rgba(29, 68, 225, 0.949);
    color: white;
    border-radius: 10px;

}
.btn_close {

    height: 20px;
    border: none;
    padding: 15px;
    background-color: rgba(29, 68, 225, 0.949);
    color: white;
    border-radius: 10px;
}
.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 400px;

  
}
.note_cont {
    display: flex;
    flex-direction: row;
    position: relative;
}